select {
  font-size: 18px;
}

label {
  background-color: aliceblue;
  font-size: 18px;
}

input {
  margin: 15px;
  width: 20%;
  border-radius: 5px;
  font-size: 18px;
}

button {
  font-size: 18px;
}